# Model Creation Process

First, let's import the necessary libraries and load the data.

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [3]:
#df = pd.read_csv("NY-House-Dataset-Preprocessed.csv")
df = pd.read_csv("datasets/NY-House-Dataset-Preprocessed.csv")
df.head()

,PRICE,BEDS,BATH,PROPERTYSQFT,Bronx,Brooklyn,Manhattan,Queens,Staten Island
0,265000,1,1,750.000000,True,False,False,False,False
1,375000,2,1,850.000000,True,False,False,False,False
2,350000,1,1,700.000000,True,False,False,False,False
3,199900,1,1,2184.207862,True,False,False,False,False
4,600000,2,2,2184.207862,True,False,False,False,False

Let's define our dataframe X and Y. X will be the features and Y will be the target variable.

In [ ]:
X = df.drop(columns=['PRICE'])
Y = df.PRICE

Let's split the data into training and testing sets.

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=10)